/*
* Version: 1.9.5
* Base Color: #27d7e7;
* Base Hover Color: #26bac8;
*/

/* General */
a {
  color: #27d7e7;
}

/* Default highlight color */
::-moz-selection {
  background: #26bac8;
}
::selection {
  background: #26bac8;
}
.btn-u-lg.btn-u-bg-default {
  background: #27d7e7;
}
.btn-u-lg.btn-u-bg-default:hover,
.btn-u-lg.btn-u-bg-default:focus {
  background: #26bac8;
}
.btn-u-lg.btn-u-default {
  border: solid 2px #27d7e7;
  color: #27d7e7;
}
.btn-u-lg.btn-u-default:hover,
.btn-u-lg.btn-u-default:focus {
  border-color: #26bac8;
  color: #26bac8;
}

/* General use classes */
.g-color-default { color: #27d7e7;}
.g-bg-default { background: #27d7e7;}

/*General use classes*/
.g-heading-v7 .h2 .block-name {
  color: #27d7e7;
}
.g-heading-v7 .h2:after {
  background: #27d7e7;
}

/* Header */
.one-page-header .navbar-nav > li > a:hover,
.one-page-header .navbar-nav > li > a:focus,
.one-page-header .navbar-nav > li.active > a:hover,
.one-page-header .navbar-nav > li.active > a:focus,
.one-page-header .navbar-nav > li.active > a {
  color: #26bac8 !important;
}

.one-page-header.architecture-nav .navbar-toggle:hover .icon-bar {
    background: #26bac8 !important;
}

/*Changing opacity on hover so the image shows*/
.arch-service-in .icon {
  color: #27d7e7;
}

.arch-service-in .arch-service-btn {
  color: #27d7e7;
}

.arch-service-in .arch-service-btn:hover,
.arch-service-in .arch-service-btn:focus  {
  color: #26bac8;
}

/* Services Section */
/*Modal popup window controls*/
.modal button.close {
    background: #27d7e7;
}

/*The Google maps div design */
.map-div {
  background: #27d7e7;
}

.footer-list li > a:hover {
  background: #27d7e7;
}

/*Success message*/
.sky-form .message {
    color: #27d7e7;
}
.sky-form .message i {
    border: 1px solid #27d7e7;
}

/*Pace
------------------------------------*/
.pace .pace-progress {
  background: #27d7e7;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #27d7e7, 0 0 5px #27d7e7;
}

.pace .pace-activity {
  border-top-color: #27d7e7;
  border-left-color: #27d7e7;
}